<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EYE Apps web | Admin Dashboard Template</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="../assets/main/css/fonts.css">
    <link rel="stylesheet" href="../assets/main/css/style.css">
</head>

<body>
    <div id="main-wrapper" class="show">

        <div class="login-tabib">
            <div>
                <div class="text-center">
                    <a class="logo" href="index.html">
                        <img class="img-fluid" src="../assets/images/logo3.png" alt="loogin page">
                    </a>
                </div>
                <div class="login-main">
                    <form class="theme-form">
                        <h4>找回密码</h4>
                        <div class="form-group m-b-10">
                            <p>请在下面输入您的电子邮件地址，获取重置密码的证明。</p>
                            <div class="form-input position-relative">
                                <input class="form-control" type="email" placeholder="Enter your email">
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="mt-3">
                                <a href="#" class="btn btn-primary w-100">重置密码</a>
                            </div>
                        </div>
                        <p class="mt-4 mb-0">知道密码?<a class="ms-2 text-primary text-center" href="page-login.html">登录</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JQuery v3.5.1 -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../assets/plugins/popper/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="../assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="../assets/plugins/moment/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="../assets/plugins/daterangepicker/daterangepicker.min.js"></script>

    <!-- Main Custom JQuery -->
    <script src="../assets/js/toggleFullScreen.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>
