<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EYE Apps web | Admin Dashboard Template</title>
    <!-- Favicon icon -->
    <!-- Base Styling  -->
    <link rel="stylesheet" href="../static/main/css/fonts.css">
    <link rel="stylesheet" href="../static/main/css/style.css">
</head>

<body>
    <div id="main-wrapper" class="show">

        <div class="login-table">
            <div>
                <div class="text-center">
                    <a class="logo" >
                        <img class="img-fluid" src="../static/images/logo3.png" alt="login page">
                    </a>
                </div>
                <div class="login-main">
                    <form class="theme-form">
                        <h4 align="center">创建你的账户</h4>
                        <p align="center">输入您的个人详细信息以创建帐户</p>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">电子邮件地址</label>
                            <input class="form-control" type="email" >
                        </div>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">密码</label>
                            <div class="form-input position-relative">
                                <input class="form-control" type="password" >
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">发送验证码</button>
                        <div class="form-group m-b-10">
                            <label class="col-form-label">验证码</label>
                            <input class="form-control" type="email" >
                        </div>
                        <div class="form-group mb-0">
                            <a href="/index/" class="btn btn-primary w-100">创建账户</a>
                        </div>
                        <p class="mt-4 mb-0">已有账户?
                            <a class="ms-2 text-primary" href="/login/">登录</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JQuery v3.5.1 -->
    <script src="../static/plugins/jquery/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../static/plugins/popper/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="../static/plugins/moment/moment.min.js"></script>

    <!-- Main Custom JQuery -->
    <script src="../static/js/toggleFullScreen.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>
